$decorative-color-start: #383fde;
$decorative-color-end: #8444d4;

@mixin typography($font-size-factor, $line-height-factor) {
  font-size: $font-size-base * $font-size-factor;
  line-height: $line-height-base * $line-height-factor;
}

.body2 {
  @include typography(0.9, 1.111);
}

.body3 {
  @include typography(0.8, 1.071);
}

.caption1 {
  @include typography(0.7, 1.224);
}

.caption2 {
  @include typography(0.6, 1.19);
}

.bg-decorative {
  background: linear-gradient(
    to top right,
    $decorative-color-start,
    $decorative-color-end
  );
  color: $body-bg;
  border: none;

  &:hover {
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
}
